<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to MoviesController.create or MoviesController.update,
     depending on whether we are creating or editing a movie -->
<form method="post" th:action="@{/movies/{id} (id=${movie?.getId()})}">
    <div>
        <label for="name">Movie Name</label>
        <input type="text"
               id="name"
               name="name"
               required th:value="${movie?.getName()}">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text"
               id="description"
               name="description"
               required th:value="${movie?.getDescription()}">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="number"
               id="rating"
               name="rating"
               required th:value="${movie?.getRating()}">
    </div>
    <div>
        <label>Genre</label><br/>
        <select id="genre" name="genre" multiple="multiple" size="5">
            <!-- For each genre you should have one <option> like below  -->
            <option th:each="type: ${types}" th:text="${type.name()}" th:value="${type}" th:selected="${movie?.getGenre() == type}"> [genre.name]</option>
        </select>
    </div>
    <div>
        <label>Director</label><br/>
        <select id="director" name="director" multiple="multiple" size="5">
            <!-- For each director you should have one <option> like below  -->
            <option th:each="director: ${directors}" th:text="${director.getName()}" th:value="${director.getId()}" th:selected="${movie?.getDirector()?.getId()==director.getId()}"> [director.name]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/movies" type="button" class="btn btn-primary">Back to movies</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>