<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Homepage - Welcome to My Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        body {
            max-width: 800px;
            margin: auto;
            padding-top: 20px;
        }

    </style>
</head>
<body>
<header class="mb-4">
    <h1 class="text-center">Books List</h1>
</header>
<main>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${books}">
                <td th:text="${b.getTitle()}"></td>
                <td th:text="${b.getGenre()}"></td>
                <td th:text="${b.getYear()}"></td>

                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{'/books/edit-form/{id}' (id=${b.getId()})}">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="@{'/books/delete/{id}' (id=${b.getId()})}">Delete</a>
                    <a class="btn btn-info btn-sm" th:href="@{'/books/review/{id}' (id=${b.getId()})}">Review</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a class="btn btn-success" href="/books/add-form">Add new book</a>
        <a class="btn btn-secondary" href="/books/review-form">Add review</a>
    </div>
</main>
</body>
</html>
